/* General rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Header section rules */

header {
    display: flex;
    height: 10vh;
    background-image: linear-gradient(to bottom,  #6a432d,#6f4e37b1);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
}   

header a {
    font-size: 1.3rem;
    margin: 0 10px;
}

.head-middle a:hover {
    text-decoration: none;
}

.head-logo {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    background-image: url(./resources/patryk-gauza-vs0tzSHVcac-unsplash.jpg);
    height: 70vh;
}


/* Naming Section rules */

.name-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.name-line h1,
.name-line h2 {
    color: white;
}

/* Information Section rules */

.info-main {
    background-color: #6a432d;
    height: auto;
    display: flex;
    flex-direction: column;
}

.info-main-text {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-main-text p {
    margin: 10px;
    width: 60%;

}


.info-main-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.info-main-flex img{
    width: 30%;
}

/* Final Section rules */

.final {
    background-color: #6a432d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-line {
    background-color: black;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.final-line h2 {
    font-size: 3.5rem;
}

.final-box {
    background-image: url(./resources/nathan-dumlao-eksqjXTLpak-unsplash.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    background-size: cover;
    color: white;
}

.final-box img {
    width: 40%;
    max-width: 100%;
    height: auto;
}

/* Footer section rules */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 30vh;
}

footer h3 {
    margin: 10px ;
}